<ion-header>
    <!--
    <ion-navbar color="morado" class="nav-bar-transparent">
        <ion-title>Recuperar</ion-title>
        <ion-buttons end>
            <button ion-button (click)="cerrarModalRecuperar()">Cancelar</button>
        </ion-buttons>
    </ion-navbar> -->

</ion-header>


<ion-content padding>
    <div class="main-container">
        <div class="header-container">
            <button class="button-right" ion-button (click)="cerrarModalRecuperar()">CANCELAR</button>
        </div>
        <div class="content-container">
            <div class="text-container" padding text-center>
                <h2 class="title">¿HAS OLVIDADO LA CONTRASEÑA?</h2>
                <p class="body">Escribe el correo electrónico asociado a la cuenta y te reenviaremos la contraseña.</p>
            </div>
            <div class="form-container">
                <form [formGroup]="formulario" #form="ngForm" novalidate>
                    <ion-list>
                        <ion-item class="form-group">
                            <ion-label>EMAIL</ion-label>
                            <ion-input type="email" class="form-control" id="email" name="email" placeholder="me@example.com" formControlName="correo" required [(ngModel)]="usuario.email"></ion-input>
                        </ion-item>

                        <div *ngIf="formulario.controls.correo.errors && formulario.controls.correo.dirty" class="alert alert-danger">
                            <div *ngIf="formulario.controls.correo.errors.patternInvalid">Formato incorrecto email</div>
                        </div>
                    </ion-list>
                    <button ion-button block class="button-primary" (click)="recuperarPassword()" [disabled]="formulario.controls.correo.errors">
                        <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
                        <span>Recuperar</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

</ion-content>